<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header class="header">
    <div class="top-bar">
        <div class="top-bar-left">
            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/available">Catalogus</a></li>
                    <li><a href="/preorder">Pre-orders</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>
<div class="main-wrapper">
    {% if page.header_img != null %}
        <section class="section-page-header">
            <div class="header-img" style="background-image: url(/{{ page.header_img }})"></div>
            <div class="header-content">
                <h1 class="header-title">{{ page.title }}</h1>
            </div>
        </section>
    {% endif %}
    {{ content }}
</div>
<footer>
</footer>
</body>
</html>