---
layout: default
---

<section class="section section-home-content indigo">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell large-6">
                {{ content }}
            </div>
            <div class="cell large-6">
                <img src="/assets/img/store.jpg" />
            </div>
        </div>
    </div>
</section>

<section class="section section-game-overview amber">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <h2 class="section-title">Een greep uit ons assortiment</h2>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            {% for game in site.categories.available %}
            {% include game-item.html %}
            {% endfor %}
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell text-right">
                <a class="button large" href="/available">Bekijk de volledige catalogus</a>
            </div>
        </div>
    </div>
</section>

<section class="section section-game-overview section-preorder green">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <h2 class="section-title">Pre-order nu!</h2>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            {% for game in site.categories.preorder %}
            {% include game-item.html %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="section-map">
    <iframe width="100%" height="600"
            src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=52.5208981,6.0844754&amp;q=Mozartlaan%2015%2C%208031%20AA%20Zwolle+(GameManiac)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0">
    </iframe>
</section>